<ion-header no-border>
    <ion-toolbar color="dark">

        <ion-buttons slot="start">
            <ion-back-button color="tertiary" defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>{{lista.titulo}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <!-- Por defecto ion-list permite scroll-->
    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
            <ion-button color="tertiary" size="small" (click)="agregarItem()"> Adicionar</ion-button>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header color="dark">
            <ion-label>Tareas por hacer</ion-label>
        </ion-list-header>

        <ion-item color="dark" *ngFor="let item of lista.items">
            <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.completado"> </ion-checkbox>
            <ion-label>{{item.descripcion}}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>